.page {
  background-color: #3f3f3f;
  background-image: url(../../images/bg_image.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}
