.account__container {
  display: flex;
  align-items: center;
}

.account__image {
  width: 30px;
}

.logout-btn {
  border: none;
  background-color: transparent;
  color: #5efff5;
  font-size: 14px;
}

.account__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7px;
}

.account__email {
  color: #fff;
  padding-left: 6px;
  font-size: 14px;
}
