.favorites__container {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.favorites__main_title {
  text-align: start;
}

.favorites__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px auto;
  max-width: 1100px;
  padding: 15px;
  box-sizing: border-box;
  gap: 20px;
}
